<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre | Home</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/ce970c0111.js" crossorigin="anonymous"></script>

</head>
<body>
    <header class="home__header">       
            <div class="home__header--logo">
                <img src="/images/logo-mercado-liebre.svg" alt="">
            </div>       
           <div class="header--buscador">
            <form action="">
                <div class="header__buscador--box">
                    <input type="search" name="busqueda" placeholder="Buscar productos, marcas">
                <button>
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button> 
            </div>
        </form>           
    </div>
    <div class="header__section--cuotas">
        <p><i class="fa-sharp fa-solid fa-hand-holding-dollar">
        </i>Comprá en cuotas y sin tarjeta de crédito</p>
    </div>    
            
           <!--  <div class="home__header__section--compra">
            <p class="header__section--cuotas"> <span><i class="fa-sharp fa-solid fa-hand-holding-dollar"></i></span> Comprá en cuotas y sin tarjeta de crédito</p>
            </div> -->

     
        <nav class="header__nav">
            <ul class="header__nav--menu">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="header__nav--user">
                <li><a href="#">Crea tu cuenta</a><i class="fa-regular fa-address-card"></i></li>
                <li><a href="#">Ingresa</a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="#">Mis Compras</a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>

        </nav>

        <div class="burger-menu">
            <button>
                <i class="fas fa-bars"></i>
            </button>
        </div> 
            
    </header>
    <div class="home__main--banner">
        <img src="/images/img-home-banner.jpg" alt="">
     </div>


    <main class="home__main">
        <h2 class="home__main__section--titulares"> BASADO EN TU ULTIMA VISITA</h2>
        <section class="home__main__section"> <!-- ultimas visitas -->
            <article class="home__main__section__article">
                <img src="images/img-cafetera-moulinex.jpg" alt="imagen-cafetera">
                <div class="home__main__main__section__article--ofertas">
                <button><i class="fa-solid fa-truck"></i></button>
                <p class="home__main__section--precio">$6.770</p>
                <p class="home__main__section--descuento">40% OFF</p>
                <p class="home__main__section--descripciones"><strong>Cafetera Moulinex </strong></p>
                </div>                
            </article>
            <article class="home__main__section__article">
                <img src="/images/img-macbook-pro-2019.jpg" alt="imagen-cafetera">
                <div class="home__main__main__section__article--ofertas">
                <button><i class="fa-solid fa-truck"></i></button>
               
                    <p class="home__main__section--precio">$230.000</p>
                    <p class="home__main__section--descuento">20% OFF</p>
                
                <p class="home__main__section--descripciones">Mackbook Pro 2019</p>
                </div>
            </article>
            <article class="home__main__section__article">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen-cafetera">
                <div class="home__main__main__section__article--ofertas">
                    <button><i class="fa-solid fa-truck"></i></button>
                    <p class="home__main__section--precio">$70.500</p>
                    <p class="home__main__section--descuento">10% OFF</p>
                    <p class="home__main__section--descripciones"> <strong> Samsung Galaxy S10 </strong></p>
                </div>
            </article>
            <article class="home__main__section__article">
                <img src="/images/img-tv-samsung-smart.jpg" alt="imagen-cafetera">
                <div class="home__main__main__section__article--ofertas">
                    <button><i class="fa-solid fa-truck"></i></button>
                    <p class="home__main__section--precio">$23.200</p>
                    <p class="home__main__section--descuento">5% OFF</p>
                    <p class="home__main__section--descripciones"><strong>SmartTv Samsung 43´´</strong></p>
                </div>
            </article>
        </section>

<!-- ofertas -->
<h2 class="home__main__section--titulares">OFERTAS</h2>

        <section class="home__main__section">
            <article class="home__main__section__article">
                <img src="images/img-cafetera-moulinex.jpg" alt="imagen-cafetera">
                <div class="home__main__main__section__article--ofertas">
                <button><i class="fa-solid fa-truck"></i></button>
                <p class="home__main__section--precio">$6.770</p>
                <p class="home__main__section--descuento">40% OFF</p>
                <p class="home__main__section--descripciones"><strong> Cafetera Moulinex </strong></p>
                </div>
            </article>
            <article class="home__main__section__article">
                <img src="/images/img-macbook-pro-2019.jpg" alt="imagen-cafetera">
                <div class="home__main__main__section__article--ofertas">
                    <button><i class="fa-solid fa-truck"></i></button>
                    <p class="home__main__section--precio">$230.000</p>
                    <p class="home__main__section--descuento">20% OFF</p>
                    <p class="home__main__section--descripciones"> <strong>Mackbook Pro 2019 </strong></p>
                </div>
            </article>
            <article class="home__main__section__article">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen-cafetera">
                <div class="home__main__main__section__article--ofertas">
                    <button><i class="fa-solid fa-truck"></i></button>
                    <p class="home__main__section--precio">$70.500</p>
                    <p class="home__main__section--descuento">10% OFF</p>
                    <p class="home__main__section--descripciones"><strong>Samsung Galaxy S10 </strong></p>
                </div>
            </article>
            <article class="home__main__section__article">
                <img src="/images/img-tv-samsung-smart.jpg" alt="imagen-cafetera">
                <div class="home__main__main__section__article--ofertas">
                    <button><i class="fa-solid fa-truck"></i></button>
                    <p class="home__main__section--precio">$23.200</p>
                    <p class="home__main__section--descuento">5% OFF</p>
                    <p class="home__main__section--descripciones"> <strong>SmartTv Samsung 43´´ </strong> </p>
                </div>
            </article>        
        </section>
    </main>
    <footer>
        <section class="home__footer__section">
            <article class="home__footer__article--textos">
                <i class="fa-solid fa-credit-card"></i><br>
                <strong>Pagá con tarjeta o en efectivo</strong>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. !Y siempre es seguro!</p>
            </article>
            <article class="home__footer__article--textos">
                <i class="fa-solid fa-gift"></i><br>
                <strong>Envíos gratis desde $2.500</strong>
                <p>Solo por estar registrad@ en Mercado Liebre tenes envíos gratis en miles de productos. Es un beneficio de Mercado Puntos</p>
            </article>
            <article class="home__footer__article--textos">
                <i class="fa-solid fa-user-shield"></i><br>
                <strong>Seguridad de principio a fin</strong>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </article>
            <article class="home__footer__article--copy">
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L</p>
            </article>
        </section>

    </footer>
    
</body>
</html>