.home__footer__section{
    padding:10px;
    text-align: center;
    display: block;
}


.home__footer__article--textos {
    padding: 10px;
    color: var(--GrisOscuro);

}

.home__footer__article--textos strong{
    font-size:15px;
}

.home__footer__article--textos i{
    margin: 10px;
    font-size:2em;
    color: var(--Celeste);
}

.home__footer__article--copy{
    font-size: 9px;
    color: var(--GrisOscuro);
    text-align: center;
    margin: 20px 0;
}

/* desktop */

@media (min-width:1024px) {
    .home__footer__section{
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        width: 100%;
    }

    .home__footer__article--textos{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        width: 33%;
    }
    .home__footer__article--textos p{
        width: 55%;
        align-self: center;
    }

}