*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Roboto';
    background-color: var(--GrisClaro);
}

main{
    width: 90%;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: var(--grisOscuro);
}

li{
    list-style: none;
}

ol, ul {
    padding: 0;
}