.header__nav--menu{
margin: 10px 0;
}

.header__nav--menu i{
    margin-left: 3px;
}

.home__header--buscar{
    margin: 10px;
    display: inline-block;
}

.header__section--cuotas{
    font-size: 12px;
    text-align: center;
}

.home__header--logo{
    width: 50%;
    margin: 10px;

}

.home__header__section--compra{
    display: flex;
    margin-left: 45px;

}

.home__header__section--compra i{
    font-size:12px;
   
}

.burger-menu{
    background-color: var(--Celeste);
    margin: 0 auto 30px;
    display: block;
    width: 40px;
    height: 40px;
    font-size: 28px;
    color: white;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align:center;
    padding: 3px;   
}