.header__nav--menu{
margin: 10px 0;
display: none;
}

.header__nav--menu i{
    margin-left: 3px;
}

.home__header--buscar{
    margin: 10px;
    display: block;
}

.header__section--cuotas{
    font-size: 12px;
    display: block;
}

.home__header--logo{
    width: 50%;
    margin: 10px;

}

.home__header__section--compra{    
    margin-left: 45px;
    margin: 0 auto 30px;
    display: block;
    text-align: center;
   
    

}

.home__header__section--compra i{
    
   
}

.burger-menu{
    background-color: var(--Celeste);
    margin: 0 auto 30px;
    display: block;
    width: 40px;
    height: 40px;
    font-size: 28px;
    color: white;
    margin-top:10px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align:center;
    padding: 3px;   
}


/* TABLETS */
@media (min-width: 361px){
    .header__nav--menu{
        display: block;
    }

    .burger-menu{
        display: none;
    }

}

/* DESKTOP */

@media (min-width: 769px){ 

    .header__nav--menu{
        display: block;
    }

    .burger-menu{
        display: none;
    }


}