.home__main__section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
}

.home__main__section--titulares{
    font-size: 20px;
    color: var(--GrisOscuro);
    width: 100%;
    margin: 10px 0;
    text-align: center;
}

.home__main--banner{
    width: 100%;
}

.home__main--banner img{
    width: 100%;    
}

.home__main__section__article{
    margin: 10px;
    background-color: white;
    transition: all 0.5s;
}

.home__main__section--descripciones{
    font-size: 12px;
    margin: 0;
    color: var(--GrisOscuro);
    /* display: none; */
    height: 0;
    overflow: hidden;
    width: 100%;
    /* align-self: flex-start;  */ 
    transition: all 0.5s; 
}


.home__main__section__article:hover .home__main__section--descripciones{
 /*  display: block; */
 height: 18px;
}

.home__main__section__article:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}




.home__main__section__article img{
    width: 100%;
}

.home__main__main__section__article--ofertas{
     border-top: solid 1px #ebebeb;
     padding: 15px;
     position: relative;    
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
}




.home__main__main__section__article--ofertas button{
    display: block;
    padding: 5px;
    color: var(--Verde);
    font-size:16px;
    height: 30px;
    width: 30px;
    border: 1px solid var(--Verde);
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    transition: all 1.5s;
}

.home__main__main__section__article--ofertas button:hover{
    transform: rotate(-90deg);
}



.home__main__main__section__article--ofertas i{
   /*  display: block;
    padding: 5px;
    color: var(--Verde);
    font-size:16px;
    height: 30px;
    width: 30px;
    border: 1px solid var(--Verde);
    background-color: #fff;
    border-radius: 50%; */
}

.home__main__section--precio{
    font-size:16px;
    width: 30%;
}

.home__main__section--descuento{
    font-size: 16px;
    color: var(--Verde);
    width: 70%;
}




.home__footer__article--textos{
    font-size:12px;
}

/* TABLETS */

@media (min-width: 361px){
    .home__main__section--descripciones{
        font-size: 16px;
        margin-top: 20px;
        color: var(--GrisOscuro);
        /* display: block; */
    }

    .home__main__section__article{
        /* box-shadow: 0px 0px 10px rgb(100, 100, 100); */
        width: 47%;
    }
    


}

/* DESKTOP */

@media (min-width: 769px){
    .home__main__section{

    }

    .home__main__section--descripciones{
        font-size: 16px;
        margin-top: 20px;
        color: var(--GrisOscuro);
       /*  display: block; */
    }

    .home__main__section__article{
        width: 23%;
        align-self: center;
    }
    
}